{% extends 'base.html' %} {% block content %}


<div class="container-fluid">
    <div class="row">
        {% for article in news %}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="details">
                    <h4>{{article.description | truncate(100)}}</h4>
                    <a href="{{article.url}}" target="_blank"> Read Full article </a>
                    <p>Posted on : {{article.publishedAt}}</p>
                </div>
                <a>
                    <img src="{{article.image}}" class="img-responsive" styles="height:20px">
                </a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}